@{
    ViewBag.Title = "Index";
}

<h1>Freelancer</h1>

<form>
    Firstname: <br />
    <input type="text" name="firstname" /><br />
    Lastname: <br />
    <input type="text" name="lastname" /><br />
</form>