
@{
    ViewBag.Title = "Index";
}
<img src="~/Content/Images/headerpic.jpg" />

<section>
    <img src="~/Content/images/addresume.png" />
    <h1>Lägg till ditt cv</h1>
    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. </p>
</section>

<section>
    <img src="~/Content/images/freelancersearch.png" />
    <h1>Sök frilansare</h1>
    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. </p>
</section>

